# Python bytecode
*.pyc
__pycache__/

# Django specific
*.log
*.pot
*.mo
*.html
local_settings.py  # If you use a separate local settings file

# Database
db.sqlite3
/media/

# IDE/Editor files
.idea/
.vscode/

# Virtual environment (Assuming it's in the project root or one level up)
.venv/
env/
venv/